<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" th:href="@{/css/login.css}">
    <title>Login</title>
</head>

<body>
    <div class="register-form">
        <h2>User Registration</h2>
        <input type="text" id="loginAccount" placeholder="Login Account: Please enter the login account">
        <input type="password" id="password" placeholder="Password: Please enter the password">
        <button onclick="login()">Log in</button>
    </div>

    <script src="../static/js/login.js"></script>
</body>

</html>