<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/login.css">
    <script src="js/login.js"></script>
    <title>Lanyi Fox | OJ-Platform</title>
</head>
<body>
    <div class="container">
            <div class="login-form">
                <h2>Let's start today's learning</h2>
                Account:<input type="text" id="loginAccount" placeholder="Please enter your username">
                Password:<input type="password" id="password" placeholder="Please enter your password">
                Identity:<input type="">
                <button onclick="login()">Login</button>
            </div>
    </div>
</body>
</html>