<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/register.css">
    <script src="js/register.js"></script>
    <title>Lanyi Fox | OJ-Platform</title>
</head>
<body>
    <div class="container">
            <div class="register-form">
                <h2>Your Details</h2>
                Account:<input type="text" id="loginAccount" placeholder="Please enter your username">
                Password:<input type="password" id="password" placeholder="Please enter your password">
                Confirm your password:<input type="password" id="confirmPassword" placeholder="Please re-enter your password">
                Full name:<input type="text" id="name" placeholder="Please enter your full name">
                ID:<input type="text" id="idCard" placeholder="Please enter 18-digit ID number">
                Date of Birth:<input type="text" id="birthDate" placeholder="yyyy-mm-dd">
                Address<input type="text" id="address" placeholder="Please enter your address">
                Postal Code:<input type="text" id="postcode" placeholder="Please enter 6-digit code">
                E-mail: <input type="text" id="email" placeholder="Please enter your email">
                Identity: 
                <button onclick="register()">Register</button>
            </div>
    </div>
</body>
</html>