<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/register.css">
    <title>Resister</title>
</head>

<body>
    <div class="register-form">
        <h2>User Registration</h2>
        <input type="text" id="loginAccount" placeholder="Login Account: Please enter the login account">
        <input type="password" id="password" placeholder="Password: Please enter the password">
        <input type="password" id="confirmPassword" placeholder="Confirm Password: Please enter the password again">
        <input type="text" id="name" placeholder="Name: Please enter your name">
        <input type="text" id="idCard" placeholder="ID Card Number: Please enter an 18-digit ID card number">
        <input type="text" id="birthDate" placeholder="Date of Birth: Format: yyyy-mm-dd">
        <input type="text" id="address" placeholder="Address: Please enter your address">
        <input type="text" id="postcode" placeholder="Postcode: Please enter a 6-digit postcode">
        <input type="text" id="email" placeholder="E-mail: Please enter your email">
        <button onclick="register()">Register</button>
    </div>

    <script src="../static/js/register.js"></script>
</body>

</html>